html
{
   font-size: 10px;
   background: url("file:///Users/mithilanchan/Desktop/JS_30_Challenge/01-JavaScript_Drum_Kit/assets/background.jpeg") center 30%;
   background-size:fixed;
}
body,html
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.keys
{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.key
{
  border:0.2 rem solid snow;
  border-radius: 0.8rem;
  margin:1rem;
  font-size:1.5rem;
  padding:2rem 0.8rem;
  width:10rem;
  color:#d8f8b7;
  text-align: center;
  text-shadow: 1px 1px 0.5px black;   
  background-color: rgb(31, 30, 30);
  transition:all 0.1s ease;
}
.key kbd{
    display:block;
    font-size: 4rem;
}
.key .sound{
    color:#ffc600;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-size: 1.1rem;
}
.playing
{
    transform:scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}